<p-fileUpload
  #fileUpload
  name="file"
  accept="application/pdf"
  [customUpload]="true"
  (uploadHandler)="onUpload($event)"
  [auto]="false"
  [showUploadButton]="true"
  [showCancelButton]="true"
  chooseLabel="Chose PDF"
  uploadLabel="Send"
  cancelLabel="Cancel"
>
</p-fileUpload>


<p-table [value]="docList" [paginator]="true" [rows]="10">
  <ng-template pTemplate="header">
    <tr>
      <th>Document</th>
      <th>Uploaded at</th>
      <th>Action</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-doc>
    <tr>
      <td>{{ doc.fileName }}</td>
      <td>{{ doc.uploadDate | date:'short' }}</td>
      <td>
        <button pButton type="button" icon="pi pi-file-pdf" label="Open"
                (click)="openPdf(doc.fileUrl)"></button>
      </td>
    </tr>
  </ng-template>
</p-table>





