<p-fileUpload
  #fileUpload
  name="file"
  accept="application/pdf"
  [customUpload]="true"
  (uploadHandler)="onUpload($event)"
  [auto]="false"
  [showUploadButton]="true"
  [showCancelButton]="true"
  chooseLabel="Choose PDF"
  uploadLabel="Upload"
  cancelLabel="Cancel"
>
</p-fileUpload>

<p-table [value]="docList" [paginator]="true" [rows]="10">
  <ng-template pTemplate="header">
    <tr>
      <th>Document</th>
      <th>Uploaded at</th>
      <th>Action</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-doc>
    <tr>
      <td>
        <div class="document-info">
          <i class="pi pi-file-pdf text-red-500"></i>
          <span class="ml-2">{{ doc.fileName }}</span>
        </div>
      </td>
      <td>{{ doc.uploadDate | date:'short' }}</td>
      
      <td>
        <div class="action-buttons">
          
          <button 
            *ngIf="doc.id"
            pButton 
            type="button" 
            icon="pi pi-shield" 
            label="Open PDF"
            pTooltip="Secure access"
            tooltipPosition="top"
            class="p-button-success p-button-sm mr-2"
            (click)="openPdfSecure(doc)">
          </button>
       
        </div>
      </td>
    </tr>
  </ng-template>
</p-table>

<!-- No documents message -->
<div *ngIf="docList.length === 0" class="no-documents">
  <i class="pi pi-info-circle"></i>
  <p>No documents found for this patient.</p>
</div>





