<div class="container mt-4">
    <p-card>
        <ng-template pTemplate="header">
            <div class="flex align-items-center justify-content-between p-3">
                <h2 class="m-0">Secretary Profile</h2>
            </div>
        </ng-template>

        <div *ngIf="loading" class="flex justify-content-center">
            <p-progressSpinner></p-progressSpinner>
        </div>

        <div *ngIf="error" class="p-error p-3 text-center">
            {{ error }}
        </div>

        <div *ngIf="!loading && !error && secretaryProfile" class="grid">
            <div class="col-12 md:col-6">
                <div class="p-fluid">
                    <div class="field">
                        <label class="font-bold">Full Name</label>
                        <p>{{ secretaryProfile.firstName }}  {{secretaryProfile.lastName}}</p>
                    </div>

                    <div class="field">
                        <label class="font-bold">Email</label>
                        <p>{{ secretaryProfile.email }}</p>
                    </div>
                </div>
            </div>
        </div>
    </p-card>
</div> 