#page-content-wrapper {
    margin-left: 15rem; 
    margin-right: 0;
    max-width: calc(100% - 15rem); 
    /* overflow-x: auto; 
    box-sizing: border-box;  */
  }




  @media (max-width: 768px) {
    table {
      font-size: 14px;
    }
    .badge {
      padding: 5px 8px;
    }
    #page-content-wrapper{
        margin-left: 0;
        padding: 0 15px;
        max-width: 100%;
        overflow-y: auto;
    }
  }