

  <div class="p-detail-container" *ngIf="!loading && patient">


  
  
  <mat-tab-group (selectedTabChange)="onTabChanged($event)" class="patient-details">
    <mat-tab label="Personal details"> 
        
      <div *ngIf="loading" class="loading-container">
        <mat-spinner></mat-spinner>
      </div>
      
      <div >
        <mat-card>
          <mat-card-header>
            <mat-card-title>Pacient Details</mat-card-title>
          </mat-card-header>
          <mat-card-content style="width: 500px;" >
            <form  [formGroup]="patientForm" (ngSubmit)="onSave()">
              <div>
                <mat-form-field appearance="fill" class="form-field">
                  <mat-label>Nume</mat-label>
                  <input matInput formControlName="lastName" placeholder="Nume">
                  <mat-error *ngIf="patientForm?.get('lastName')?.hasError('required')">Numele este obligatoriu</mat-error>
                </mat-form-field>
              </div>
              <div>
                <mat-form-field appearance="fill" class="form-field">
                  <mat-label>Prenume</mat-label>
                  <input matInput formControlName="firstName" placeholder="Prenume">
                  <mat-error *ngIf="patientForm?.get('firstName')?.hasError('required')">Prenumele este obligatoriu</mat-error>
                </mat-form-field>
              </div>

              <div>
                <mat-form-field appearance="fill"class="form-field">
                  <mat-label>CNP</mat-label>
                  <input matInput formControlName="CNP" placeholder="CNP">
                  <mat-error *ngIf="patientForm?.get('CNP')?.hasError('pattern')">CNP obligatoriu 13 caractere</mat-error>
                </mat-form-field>
              </div>
              
              <div>
                <mat-form-field appearance="fill"class="form-field">
                  <mat-label>Email</mat-label>
                  <input matInput formControlName="email" placeholder="Email" true>
                  <mat-error *ngIf="patientForm?.get('email')?.hasError('email')">Email invalid</mat-error>
                </mat-form-field>
              </div>
              
              <div>
                <mat-form-field appearance="fill"class="form-field">
                  <mat-label>Telefon</mat-label>
                  <input matInput formControlName="phone" placeholder="Telefon">
                  <mat-error *ngIf="patientForm?.get('phone')?.hasError('minlength')">Lungime nr telefon min:10 </mat-error>
                  <mat-error *ngIf="patientForm?.get('phone')?.hasError('maxlength')">Lungime nr telefon max 15</mat-error>

                  <mat-error *ngIf="patientForm?.get('phone')?.hasError('required')">Telefonul este obligatoriu</mat-error>
                  <mat-error *ngIf="patientForm?.get('phone')?.hasError('pattern')">Format invalid</mat-error>

                </mat-form-field>
              </div>
              
              <div class="button-container">
                <button mat-raised-button color="primary" type="submit" [disabled]="patientForm.invalid">
                  Save
                </button>
              </div>
            </form>
          </mat-card-content>
        </mat-card>
      </div>
      
      <div *ngIf="errorMessage" class="error-message">
        <mat-error>{{ errorMessage }}</mat-error>
      </div>
          
          <div *ngIf="!patient && !loading">
            <p>Patient not found!</p>
          </div>
        
    </mat-tab>

    <mat-tab label="Consultations">           
          <div *ngIf="!patient">
            <h2>Patient not found!</h2>
          </div>

          <app-patient-consultation-list *ngIf="patient" [patientId]="patient.id"></app-patient-consultation-list>  

    </mat-tab>
    <mat-tab label="Uploaded Documents">

      <app-document-list [patientId]="patient.id"></app-document-list>
     
    </mat-tab>

  <!-- <mat-tab label="Upcoming appointments">

    <app-my-appointments></app-my-appointments>

  </mat-tab> -->
  </mat-tab-group>

</div>