<div id="wrapper" [class.toggled]="isSidebarOpen">
    <!-- Overlay: click pe el pentru a închide sidebar-ul -->
    <div class="overlay" (click)="toggleSidebar()"></div>
    
    <!-- Sidebar -->
    <nav id="sidebar-wrapper">
      <ul class="nav sidebar-nav">
        <div class="sidebar-header">
          <div class="sidebar-brand"><a href="#">Brand</a></div>
        </div>
        <li><a routerLink="home">Home</a></li>
        <li><a href="#about">NewsBoard</a></li>
        <li class="dropdown"  >
          <a href="#works" (click)="toggleDropdown($event)" [class.open]="isDropdownOpen">Pacienți <span class="caret"><img src="/assets/down-arrow.png" alt="helo"></span></a>
          <ul class="dropdown-menu animated fadeInLeft" [class.show]="isDropdownOpen">
            <div class="dropdown-header">Dropdown heading</div>
            <li><a href="#">Pictures</a></li>
            <li><a href="#">Videos</a></li>
            <li><a href="#">Books</a></li>
            <li><a href="#">Art</a></li>
            <li><a href="#">Awards</a></li>
          </ul>
        </li>
        <li><a routerLink="patients">Patients List</a></li>
        <li><a href="">Contact</a></li>
        <li><a style="cursor: pointer;" (click)="logout()">Log Out</a></li>
      </ul>
    </nav>
    
    <!-- Page Content -->
    <div id="page-content-wrapper">
      <button class="hamburger" (click)="toggleSidebar()">
        <span class="hamb-top"></span>
        <span class="hamb-middle"></span>
        <span class="hamb-bottom"></span>
        </button>
      
      <router-outlet></router-outlet>
    </div>
  </div>
  