

  <mat-tab-group (selectedTabChange)="onTabChanged($event)" class="patient-details">
    <mat-tab label="Personal details"> 
        
      <div *ngIf="loading" class="loading-container">
        <mat-spinner></mat-spinner>
      </div>
      
      <div *ngIf="!loading">
        <mat-card>
          <mat-card-header>
            <mat-card-title>Detalii Pacient</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <form [formGroup]="patientForm" (ngSubmit)="onSave()">
              <div>
                <mat-form-field appearance="fill">
                  <mat-label>Nume</mat-label>
                  <input matInput formControlName="lastName" placeholder="Nume">
                  <mat-error *ngIf="patientForm?.get('lastName')?.hasError('required')">Numele este obligatoriu</mat-error>
                </mat-form-field>
              </div>
              <div>
                <mat-form-field appearance="fill">
                  <mat-label>Prenume</mat-label>
                  <input matInput formControlName="firstName" placeholder="Prenume">
                  <mat-error *ngIf="patientForm?.get('firstName')?.hasError('required')">Prenumele este obligatoriu</mat-error>
                </mat-form-field>
              </div>

              <div>
                <mat-form-field appearance="fill">
                  <mat-label>CNP</mat-label>
                  <input matInput formControlName="CNP" placeholder="CNP">
                  <mat-error *ngIf="patientForm?.get('CNP')?.hasError('required')">CNP este obligatoriu</mat-error>
                </mat-form-field>
              </div>
              
              <div>
                <mat-form-field appearance="fill">
                  <mat-label>Email</mat-label>
                  <input matInput formControlName="email" placeholder="Email" true>
                  <mat-error *ngIf="patientForm?.get('email')?.hasError('email')">Email invalid</mat-error>
                </mat-form-field>
              </div>
              
              <div>
                <mat-form-field appearance="fill">
                  <mat-label>Telefon</mat-label>
                  <input matInput formControlName="phone" placeholder="Telefon">
                  <mat-error *ngIf="patientForm?.get('phone')?.hasError('required')">Telefonul este obligatoriu</mat-error>
                </mat-form-field>
              </div>
              
              <div class="button-container">
                <button mat-raised-button color="primary" type="submit" [disabled]="patientForm.invalid">
                  Salvează
                </button>
              </div>
            </form>
          </mat-card-content>
        </mat-card>
      </div>
      
      <div *ngIf="errorMessage" class="error-message">
        <mat-error>{{ errorMessage }}</mat-error>
      </div>
          
          <div *ngIf="!patient && !loading">
            <p>Patient not found!</p>
          </div>
        
    </mat-tab>

    <mat-tab label="Consultations"> Content 2           
          <div *ngIf="!patient">
            <p>Patient not found!</p>
          </div>
          <p>aici vine lista consultatii pacient</p>
        
    </mat-tab>
    <mat-tab label="Analize"> Content 3 


      <h2>Analize:</h2>
    </mat-tab>

  <mat-tab label="Upcoming appointments">

    <div *ngIf="appointments && appointments.length; else noAppointments">
      <ul>
        <li *ngFor="let appointment of appointments">
          <div>
            <strong>ID:</strong> {{ appointment.id }}
          </div>
          <div>
            <strong>Doctor:</strong> Dr. {{ appointment.doctorName }} {{ appointment.doctorLastName }}
          </div>
          <div>
            <strong>Department:</strong> {{ appointment.department }}
          </div>
          <div>
            <strong>Date:</strong> {{ appointment.appointmentDate | date:'mediumDate' }}
          </div>
          <div>
            <strong>Time:</strong> {{ appointment.appointmentTime }}
          </div>
          <div>
            <strong>Status:</strong> {{ appointment.status }}
          </div>
          <hr>
        </li>
      </ul>
    </div>
    
    <ng-template #noAppointments>
      <p>No appointments found.</p>
    </ng-template>

  </mat-tab>
  </mat-tab-group>