<div class="home-container">
    <!-- Overlay pentru a întuneca ușor background-ul -->
    <div class="overlay"></div>
    <div class="content">
      <h1>MediManage</h1>
      <p>
        Bine ai venit la <strong>MediManage</strong> – soluția completă de gestionare a pacienților, 
        dedicată profesionalismului și eficienței în domeniul medical.
      </p>
      <p>
        Aplicația noastră oferă următoarele funcționalități:
      </p>
      <ul>
        <li>Înregistrare și evidență detaliată a pacienților</li>
        <li>Stocare sigură și conformă cu standardele HIPAA</li>
        <li>Programări în timp real și notificări automate</li>
        <li>Gestionare integrată a facturării și asigurărilor</li>
        <li>Dashboard-uri personalizate pentru medici și pacienți</li>
      </ul>
      <p>
        Simplifică fluxurile de lucru medicale și îmbunătățește calitatea îngrijirii cu MediManage!
      </p>
    </div>

    <div *ngIf="isStaffMember" class="news-section mt-4">
      <app-newsboard></app-newsboard>
    </div>
  </div>
  