<p-card class="shadow-sm border-round p-2">
  <div class="p-fluid grid formgrid gap-2 text-sm">

    <div class="field col-6 md:col-3">
      <label for="cnp" class="text-xs">CNP</label>
      <input id="cnp" pInputText [(ngModel)]="searchCNP" placeholder="CNP" styleClass="p-inputtext-sm w-full" />
      
    </div>

    <div class="field col-6 md:col-3">
      <label for="lastName" class="text-xs">Nume</label>
      <input id="lastName" pInputText [(ngModel)]="lastName" placeholder="Nume" styleClass="p-inputtext-sm w-full" />
    </div>

    <div class="field col-6 md:col-3">
      <label for="firstName" class="text-xs">Prenume</label>
      <input id="firstName" pInputText [(ngModel)]="searchFirstName" placeholder="Prenume" styleClass="p-inputtext-sm w-full" />
    </div>

    <div class="field col-6 md:col-3">
      <label for="date" class="text-xs">Data</label>
      <p-calendar id="date" [(ngModel)]="searchDate" dateFormat="yy-mm-dd" [showIcon]="true"
        styleClass="p-inputtext-sm w-full" class="max-width: 100%;" panelStyleClass="p-calendar-sm" />
    </div>

    <div class="col-12 mt-3">
      <p-button label="Căutare" icon="pi pi-search" (click)="onSearch()" styleClass="p-button-sm w-full p-button-primary" />
    </div>

    <div class="col-12" *ngIf="notFound">
      <p-message severity="warn" [text]="errorMsg" />
    </div>

  </div>
</p-card>

<p-table
  class="mt-3 text-sm"
  [value]="appointments"
  [paginator]="true"
  [rows]="10"
  [rowsPerPageOptions]="[10, 25, 50]"
  [responsiveLayout]="'scroll'"
  [showCurrentPageReport]="true"
  currentPageReportTemplate="Se afișează de la {first} la {last} din {totalRecords} consultări">

  <ng-template pTemplate="header">
    <tr>
      <th>#</th>
      <th>Nume</th>
      <th>Prenume</th>
      <th>Data</th>
      <th>Ora</th>
      <th>Status</th>
      <th>Acțiuni</th>
    </tr>
  </ng-template>

  <ng-template pTemplate="body" let-appointment let-i="rowIndex">
    <tr>
      <td>{{ i + 1 }}</td>
      <td>{{ appointment.patientFirstName }}</td>
      <td>{{ appointment.patientLastName }}</td>
      <td>{{ appointment.appointmentDate | date:'yyyy-MM-dd' }}</td>
      <td>{{ appointment.appointmentTime }}</td>
      <td>
        <p-badge [value]="appointment.status || 'UNKNOWN'" [severity]="getSeverity(appointment.status)" />
      </td>
      <td>
        <p-button
          *ngIf="appointment.status !== 'CANCELLED'"
          icon="pi pi-file-edit"
          styleClass="p-button-text p-button-sm"
          (click)="goToConsultation(appointment.id)" />
      </td>
    </tr>
  </ng-template>
</p-table>
