:host ::ng-deep {
  .p-card {
    font-size: 0.85rem;
    padding: 1rem;
  }

  .p-inputtext,
  .p-calendar input {
    font-size: 0.85rem;
    padding: 0.4rem 0.5rem;
  }

  .p-button-sm {
    font-size: 0.8rem;
  }

  .p-calendar {
    width: 100%;
  }

  .p-message {
    font-size: 0.85rem;
  }
}
