<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
      <!-- Logo pe stânga: asigură-te că ai un fișier de logo în assets sau folosește un URL extern -->
      <a class="navbar-brand" routerLink="/dashboard/patient">
        <img src="assets/medicallogo.jpg" alt="Logo" style="height: 40px;">
      </a>
  
      <!-- Butoanele de navigare pe partea dreaptă -->
      <div class="collapse navbar-collapse justify-content-end">
        <ul class="navbar-nav">
          
          <li class="nav-item">
            <a class="nav-link" style="cursor: pointer;" (click)="goToPatientDetails()">Personal Info</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="myAppointments">Programarile mele</a>
          </li>
          <li class="nav-item">
            <!-- Buton de logout: apelează metoda logout() definită în componenta TS -->
            <a class="nav-link" style="cursor: pointer;" (click)="logout()">Logout</a>
          </li>
         

        </ul>
      </div>
    </div>
  </nav>


  
  <!-- Conținutul Dashboard-ului -->
  <div class="container mt-4">
    <h2>Dashboard</h2>
    <p>Bun venit în Pacient Dashboard!</p>
    <!-- Aici poți adăuga conținut specific, informații suplimentare etc. -->

    <router-outlet></router-outlet>
  </div>

 