
<div class="w-100 h-100">

    <p-steps [model]="steps" [(activeIndex)]="activeStep" [readonly]="false">
    </p-steps>

<div class="select-wrapper ">
    <div *ngIf="activeStep === 0">
        <h2>Select Speciality</h2>
        <p-dropdown 
            [options]="specialities" 
            [(ngModel)]="selectedSpeciality" 
            placeholder="Select a speciality"
            (onChange)="onSpecialtySelect(selectedSpeciality)" />
      </div>

      <div *ngIf="activeStep === 1">
        <h2>Select Doctor</h2>
        <p-dropdown 
            [options]="doctorList" 
            [(ngModel)]="selectedDoctor" 
            placeholder="Select A doctor"
            (onChange)="onDoctorSelect(selectedDoctor!)" >
            <ng-template let-doctor pTemplate="item">
              Dr. {{ doctor.firstName }} {{ doctor.lastName }}
            </ng-template>
            <ng-template let-doctor pTemplate="selectedItem">
              Dr. {{ doctor?.firstName }} {{ doctor?.lastName }}
            </ng-template>
          </p-dropdown>
          
      </div>

      <div *ngIf="activeStep === 2">
        <h2>Select Date</h2>
        <p-calendar
        [(ngModel)]="selectedDate"
        [minDate]="minDate"
        variant="filled" 
        [showClear]="true"
        [showIcon]="true"
        [numberOfMonths]="2"
        [disabledDates]="doctorFreeDays!"
        (onSelect)="onDateSelect()"/>
      </div>
    

</div>
    
</div>
