<!-- Search Bar -->
<form (ngSubmit)="searchProcedures()">
    <div class="search-container mb-3 mt-5 w-50">
      <div class="input-group">
        <input [(ngModel)]="searchTerm" name="searchTerm" type="text" class="form-control" placeholder="Search procedures..." aria-label="Search">
        <button class="btn btn-primary" type="submit">Search</button>
      </div>
    </div>
  </form>
  
  <!-- Tabelul cu proceduri -->
  <div class="table-responsive custom-table-container">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      
      <!-- Index Column -->
      <ng-container matColumnDef="#">
        <th mat-header-cell *matHeaderCellDef> # </th>
        <td mat-cell *matCellDef="let proc; let i = index"> {{ proc.id }} </td>
      </ng-container>
  
      <!-- Cod DRG Column -->
      <ng-container matColumnDef="codDRG">
        <th mat-header-cell *matHeaderCellDef> Code DRG </th>
        <td mat-cell *matCellDef="let proc"> {{ proc.drgcode }} </td>
      </ng-container>
  
      <!-- Description Column -->
      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef> Description </th>
        <td mat-cell *matCellDef="let proc"> {{ proc.description }} </td>
      </ng-container>
  
      <!-- Actions Column -->
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Actions </th>
        <td mat-cell *matCellDef="let proc">
          <button mat-raised-button color="primary" (click)="openModal(proc,false)">Add</button>
        </td>
      </ng-container>
      
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  
    <!-- MatPaginator: se afișează 5 elemente pe pagină -->
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </div>


  <!-- MODAL -->
  <div class="modal fade" [ngClass]="{'show': showModal}" [ngStyle]="{'display': showModal ? 'block' : 'none'}" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Enter Price for Procedure</h5>
          <button type="button" class="btn-close" (click)="closeModal()"></button>
        </div>
        <div class="modal-body">
          <p>Procedure: {{ editFlag ? selectedDoctorProcedure?.description : selectedProcedure?.description }}</p>
          <div class="mb-3">
            <label for="priceInput" class="form-label">Price</label>
            <input type="number" id="priceInput" class="form-control" [(ngModel)]="inputPrice" name="price">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="closeModal()">Cancel</button>
          <button type="button" class="btn btn-primary" (click)="editFlag ? updatePrice(): confirmAdd() ">{{editFlag ? 'Update' : 'Add'}}</button>
        </div>
      </div>
    </div>
  </div>









  <div class="mt-4 mb-4">
    <h4>Proceduri adăugate</h4>
    <table class="table">
      <thead class="thead-light">
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Denumire procedura</th>
          <th scope="col">Pret</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr scope="row" *ngFor="let proc of addedProcedures">
          <td>{{proc.procedure_id}}</td>
          <td>{{proc.description}}</td>
          <td>{{proc.price}}</td>
          <td>
            <button mat-raised-button (click)="openModal(proc,true)">
              <i class="fa fa-pencil" aria-hidden="true"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>

  </div>
  