body{
   /* display: flex;
   flex-wrap: wrap; */
   width: 100%;
   /* max-width: 1200px; sau orice valoare potrivită pentru ecranul laptopului */
   margin: 0 0;
   overflow-x: hidden;

}
 footer{
    background-color: beige;
    display: flex;
    justify-content: end;
    margin-top: 10px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
 }
 p{
    font-size: x-small;
 }