
  <form [formGroup]="secretaryForm" (ngSubmit)="submit()">
    <div class="p-fluid">
      <div class="p-field">
        <label>Username</label>
        <input pInputText formControlName="username" />
      </div>
      <div class="p-field">
        <label>Password</label>
        <input pPassword formControlName="password" toggleMask="true" />
      </div>
      <div class="p-field">
        <label>First Name</label>
        <input pInputText formControlName="firstName" />
      </div>
      <div class="p-field">
        <label>Last Name</label>
        <input pInputText formControlName="lastName" />
      </div>
      <div class="p-field">
        <label>Phone Number</label>
        <input pInputText formControlName="phoneNumber" />
      </div>
      <div class="p-field">
        <label>Email</label>
        <input pInputText formControlName="email" />
      </div>
      <div class="p-field">
        <label>Salary</label>
        <input type="number" pInputText formControlName="salary" />
      </div>
      <div *ngIf="errorMsg" class="error-messages">
  <ul>
    <li *ngFor="let msg of errorMsg">{{ msg }}</li>
  </ul>
    </div>
    </div>

    <p-footer>
        <p-button  type="submit" label="Salvează" [disabled]="secretaryForm.invalid" />
        <p-button label="Renunță" class="p-button-secondary" (onClick)="cancel()" styleClass="p-ml-2"></p-button>
    </p-footer>
  </form>

