<div class="calendar-container">
  <h2 class="text-xl font-semibold mb-3">Select consultation interval: </h2>
  <div class="consultation-interval">
    <div class="select-b">
      <p-selectButton 
      [options]="consultationInterval" 
      [(ngModel)]="consultationIntervalValue" 
      optionLabel="name" 
      optionValue="value" />
  
    </div>
   
    <p-confirmPopup>
      <ng-template pTemplate="content" let-message>
          <div class="flex flex-column align-items-center w-full gap-3 border-bottom-1 surface-border p-3 mb-3">
              <i [class]="message.icon" class="text-6xl text-primary-500"></i>
              <p>{{ message.message }}</p>
          </div>
      </ng-template>
  </p-confirmPopup>
    <p-button (onClick)="confirmChangeInterval($event)">Save Interval</p-button>

  </div>
   




    <h2 class="text-xl font-semibold mb-3">Edit Doctor Working Days</h2>
  
    <p-calendar
    selectionMode="range"
    [numberOfMonths]="2"
    [inline]="true"
    [monthNavigator]="true"
    [yearNavigator]="true"
    [showButtonBar]="true"
    [showClear]="true"
    (onSelect)="toggleNonWorkingDay($event)">
  
    <!-- Asta e varianta corectă pentru a personaliza zilele -->
    <ng-template let-date pTemplate="date">
      <span
        [ngClass]="{
          'non-working': isNonWorkingDay(date),
        }">
        {{ date.day }}
      </span>
    </ng-template>
  </p-calendar>
  
    <div class="mt-4 flex justify-end">
      <button pButton type="button" label="Save Schedule" icon="pi pi-save" (click)="saveSchedule()"></button>
    </div>
  </div>
  